#main::after {
  background-color: transparent;
}

#documentation::after {
  background-color: transparent;
}

#filter::after {
    content: '';    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #122c9e; 
}

.searchU {
  width: 50%; 
  max-width: 600px; 
  margin: 0 auto; 
  position: relative; 
}

.search-results {
  width: 100%; 
}

.input-wrapper input {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  /*padding: 20px;*/
}
#sessionContainer,#errorDiv {
  display: none; 
  opacity: 0;
  transition: opacity 0.5s ease, height 0.5s ease;
}

#sessionContainer.show,#errorDiv.show {
  display: block;
  opacity: 1;
  height: auto; 
}

.backButton, .modelButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.backButton {
  background-color: #007bff;
  border: 1px solid  #007bff ; 
  color: #fff;
}
.backButton:hover {
  background-color: #fff; 
  color: #007bff;
  border: 1px solid  #007bff ; 
}
.modelButtons {
  display: flex;
}

.modelButton {
  background-color: #28a745;
  color: #fff;
  margin-left: 10px;
}

.modelButton:hover {
  background-color: #519461;
}

.modelButton.inactive {
  background-color: #6c757d;
}
.modelButton.inactive:hover {
  background-color: #a5aaaf;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.grid-container > div, .sessions > div {
  background-color: #fff; 
  /*border: 1px solid #ccc; */
  padding: 20px; 
  text-align: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  transition: transform 0.2s, box-shadow 0.2s; 
}

.grid-container > div:hover, .sessions > div:hover {
  transform: translateY(-5px); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.info1 {
  grid-column: span 1;
}

.info2 {
  grid-column: span 1;
}

.chart1,
.chart2,
.chart3 {
  grid-column: span 2;
}
.calendari{
  grid-column: span 4;
}
.video {
  grid-column: span 2;
}

.sessions{
  grid-column: span 4;
}
/*Error MSJ*/
.error-message {
  display: none; /* Oculto por defecto */
  color: red;
  background-color: #ffe6e6;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 0;
  text-align: center;
}
/*Calendari*/

.calendar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-collapse: collapse;
}

.month {
  text-align: center;
  background-color: transparent;
  padding: 10px;
  font-weight: bold;
}

.month + .days {
  border-top: 1px solid #e1e4e8;
}

.days {
  display: grid;
  background-color: lightgray;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  width: 12px;
  height: 12px;
  background-color: white;
  border: 1px solid #e1e4e8;
}

.day:hover {
  background-color: blue;
}

.empty {
  background-color: #f6f8fa;
  border: none;
}

.sessionCalendar.level-1 {
  background-color: #2ea44f;
}

.sessionCalendar.level-2 {
  background-color: #d73a49;
}

.sessionCalendar.level-3 {
  background-color: #f0c82d;
}

.legend {
  padding: 10px;
  grid-column: span 4;
}

.legend-item {
  display: inline-block;
  margin-right: 10px;
}

.legend-item .box {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 4px;
  vertical-align: middle;
}

.legend-item .text {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1220px) {
  .calendar {
    grid-template-columns: repeat(8, 1fr); /* 4 messos per fila */
  }
  .month + .days {
    width: 80%;
}
}
@media (max-width: 1000px) {
  .calendar {
    grid-template-columns: repeat(6, 1fr); /* 4 messos per fila */
  }
  .month + .days {
    width: 80%;
}
}

/*Sessions*/
.sessions > div {
  margin-bottom: 10px;
}

.sessionDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textDiv{
  text-align: left;
}

.sessionDiv > button {
  height: 50px;
}

.textDiv p {
  margin: 0; 
  font-size: 16px; 
  color: #333; 
}

.analyzeBtn {
  background-color: #007bff; 
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 

}

.analyzeBtn:hover {
  background-color: #0056b3; 
}