body {
    font-family: system-ui, 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    border: none;
    cursor: pointer;
    font-size: medium;
    padding: 15px;
    width: 150px;
}

.backButton {
    background-color: #007bff;
    border: 1px solid  #007bff ; 
    color: #fff;
}
.backButton:hover {
    background-color: #fff; 
    color: #007bff;
    border: 1px solid  #007bff ; 
}
.modelButtons {
    display: flex;
}

.modelButton {
    background-color: #28a745;
    color: #fff;
    margin-left: 10px;
}

.modelButton:hover {
    background-color: #519461;
}

.modelButton.inactive {
    background-color: #6c757d;
}
.modelButton.inactive:hover {
    background-color: #a5aaaf;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid-container>div,
.analyzedText>div {
    background-color: #fff;
    /*border: 1px solid #ccc; */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.grid-container>div:hover,
.analyzedText>div:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.info1 {
    grid-column: span 2;
}

.info2 {
    grid-column: span 2;
}

.info3 {
    grid-column: span 1;
}

.chart1{
    grid-column: span 3;
}
.chart2 {
    grid-column: span 2;
}

.video {
    grid-column: span 2;
}
/**/
.analyzedText{
    grid-column: span 4;
}

.analyzedText2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.text-content {
    flex: 1;
}

.chart-content {
    flex: 1;
}

.analyzedText2 p {
    margin: 0;
    padding: 5px 0;
    text-align: left;
}

div > h2{
    margin-top: 5px;
    margin-bottom: 5px;
}

#video {
    max-width: 90%;
    width: 80%;
    height: 100%;
    display: grid;
    place-items: center; 
    margin: auto;
}

/*Frases*/
.text-content, .chart-container {
    flex:1;
}

.chart-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}


@media (max-width: 1220px) {
   
}

#chart-doughnut0{
    margin-left: -50px;
}